.titel {
    padding: 10px;
    background-color: #FFF;
    color: #1E5578;
    text-transform: capitalize;
}


.big-image {
    height: 400px;
    background-color: pink;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.big-image img{
    max-width: 100%;
    height: 100%;
}


.timer, .info{
    padding: 20px;
    width: 300px;
    height: 340px;
    background-color: white;
    border: 10px solid #8888BF;
    border-radius: 20px;
    margin: 5px;
    float: left;
}


.timer p, .info p{
    margin: 0;
    font-size: 2.5em;
}

/*.productbox {
    font-size: 20px;
}
*/
/*.timer .text, .info .text p{
    font-size: 18px;
}
*/

.timer .text, .info .text{
    margin-top: 30px;
    position: static;
    font-size: 0.8em;
}

.bid-history{
    height: 110px;
    overflow: auto;
    margin-bottom: 20px;
    background: white;
    border: 1px solid lightgray;
}

.beschrijving {
    background: white;
}


.tab-pane {
    font-family: verdana;
    background-color: white;
    height: 250px;
    overflow: auto;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px;
}

.tab-content {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background: white;
}
