#googleMap
{
width:45%;
height:400px;
background-color:red;
}

.iframe
{
width:45%;
height:400px;
}

.center-box h5
{
color:black;
font-weight:Bold;
display: inline;
}

.center-box p
{
display: inline;
}