
@font-face{ 
	font-family: 'Junction';
	src: url('../fonts/Junction.eot');
	src: url('../fonts/Junction.eot?iefix') format('eot'),
	     url('../fonts/Junction.woff') format('woff'),
	     url('../fonts/Junction.ttf') format('truetype'),
	     url('../fonts/Junction.svg#webfont') format('svg');
}

body {
	font-family: Junction;
	background-image:url('../images/diamond_upholstery.png');
    background-attachment: fixed;
}

*::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
}

*::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,1);
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.0);
    border-radius: 10px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right{
	text-align: right;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

header {
	height: 100px;
	/*background-color: #597EAA;*/
    background: rgba(51, 136, 175, 0.9);
	color: white;
    border: 5px outset #296D8C;
	text-shadow: black 0 2px 2px;
    /*border-radius: 5px;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	/*background-image: url("../images/blue-bg.jpg");
	background-size: 100% 200%;
	background-position: 0 -150px;
	background-repeat: no-repeat;
    background-origin: content-box;*/
	/*border: 2px solid black;*/
	/*border: 1px solid rgba(0,0,0,.15);*/
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


header img {
    height: 100%;
}

header h3{
	font-family: verdana;
	margin-top: 15px;
}


.logo, .login, .keurmerk {
	height: 100%;
	/*border: 1px dashed black;*/
}

.login{
	margin-top: 3px;
	position: relative;
    
}

.login .form-group {
	margin: 0px;
	margin-top: 5px;
	padding: 0;
	padding-left: 5px;

}

.login  a{
	color:white;
}


.login-tekst a{
	display: block;
	font-size: 0.8em;
	margin-top: 2px;
}

.login-btn button{
	width: 100%;
}

.account-dropdown{
	position: absolute;
	top: 25px;
	right: 30px;
}

.plaats-ad{
	margin-top: 20px;
}

.account-dropdown button{
	background-color: rgb(51, 136, 175);
	border: 1px solid rgb(6, 67, 106);
	text-shadow: inherit;
	text-transform: capitalize;
}

.account-dropdown button:hover, .account-dropdown button:focus{
	color: #FFF;
}

.account-dropdown .dropdown-menu{
	background-color: rgb(51, 136, 175);
	right: 0;
	left: auto;
	text-align: right;
	border: 1px solid rgb(6, 67, 106);
}

.account-dropdown .divider{
	background-color: black;
}

.account-dropdown li>a{
	color: white;
}

.account-dropdown li>a:hover{
	color: rgb(51, 136, 175);
	text-shadow: #eee 0 0 0;
}


.keurmerk img{
	height: 80%;
	margin-top: 10px;
	/*box-shadow: 0px 5px 5px #666;*/
}


.header-text {
	font-family: verdana;
	margin-top: 15px;
}

.header-text h4{
	font-weight: bold;
	margin: 0;
}


.header-text a{
	color: white;
	text-decoration: none;

}

.header-text a:hover{
	color: #EEE;

}


/*zoekbalk css*/
.zoekbalk {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px 0px;
    border-radius: 5px;
    font-family: verdana;
}

.zoekbalk .input-group-addon{
	border: 0;
	padding: 0 5px;
	background-color: transparent;
}

.rub-select {
	border-color: transparent;
	height: 90%;
	-webkit-appearance: menulist-button;
}

.rub-artikel {
    bottom: 13px;
}

.zoeklijst {
	width: 100%;
	background-color: white;
	position: absolute;
	border: 1px solid #EEE;
	border-top: transparent;
	top: 35px;
	z-index: 5;
	padding-left: 10px;
}

.zoeklijst li{
	list-style: none;
	margin: 3px;
}

nav {
	min-width: 250px;
	height: calc(100vh - 210px);
    background: rgba(51, 136, 175, 0.9);
    border: 5px outset #296D8C;
    color: white;
    text-align: left;
    position: fixed;
    top: 154px;
    left: 15px;
    z-index: 2000;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    font-family: verdana;
    overflow: auto;
}

nav::-webkit-scrollbar {
    width: 0;
    height: 0;
}

nav h3 {
	text-align: center;
	padding: 15px 15px;
	border-bottom: 1px solid #EEE;
	margin: 0;
}

nav a {
	display: block;
    text-decoration: none;
    color: white;
}

nav hr{
	margin-bottom: 0;
	color: #DDD;
}

/*td {
	width: 250px;
}
*/

footer {
	height: 160px;
    background: rgba(51, 136, 175, 0.9);
	color: white;
    font-size: 10px;
    padding-top: 5px;
    padding-left: 35px;
    margin-top: 5px;
    border: 5px outset #296D8C;
    border-radius: 5px;
}

footer a{
	color: white;
	text-decoration: none;
}

footer a:hover{
	background-color: #597EAA;
	text-decoration: none;
    background: rgba(51, 136, 175, 0);
    text-shadow: midnightblue;
}

footer h4 {
	text-align: center;
}


footer{
	margin-top: 30px;
}

footer .col-xs-6 {
    display: block;
}

footer img {
    width: 30px;
    height: 30px;
    float: left;
}

footer p {
    text-align: right;
    display: inline-block;
    padding: 5px;
    font-size: 11px;
}


.content {
	min-height: calc(100vh - 210px);
	padding-right: 0px;
	padding-bottom: 50px;
    margin-left: 260px;
    position: relative;
}

.no-nav {
	margin-left: 20px;
}

.lint{
	border-radius: 0;
	border-bottom: 1px solid #597EAA;
	color: white !important;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background: rgba(51, 136, 175, 0.9);
    margin-bottom: 0;
}

.lint a{
	color: white;
}

.lint>.active {
  color: #CCC;
}

/*.pager{
	height: 42px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.pager li>a{
	border: 1px solid transparent;
	background-color: #5cb85c;
	margin: 5px 25px 3px;
	border: 0;
}

.pager li>a:hover{
	border: 1px solid #398439;
	background-color: #449d44;
	color: #FFF;
}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
	opacity: .6;
	background-color: #5cb85c;
	color: #FFF;
}*/

.pagination{
	font-family: verdana;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
}


.time {
	font-family: verdana;
	margin: 0;
}

a .time {
	display: inline-block;
	text-decoration: none;
}

.time span{
    color: #EEEEEE;
}


.big-image {
    top: 20px;
}

.tab-content {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background: white;
}

.description {
    background: white;
}

.center-box {
	width: 800px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left:auto;
	margin-right: auto;
	border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-color: white;
	height: 100%;
	padding: 30px;
}

.nav-pills>li {
   margin-bottom: 0;
   border-bottom: 1px solid #DDD;
}

.nav-pills>li+li {
	margin: 0;
}

.nav-tabs>li>a{
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 0;
	padding: 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover{
	border-radius: 0;
	background-color: #1E5578;
	color: #EEE;
	padding-top: 12px;
	box-shadow: 0 -6px 12px rgba(0,0,0,.175);
}

#twentyseven {
    width: 50%;
    height: 50%;
}

.account-table td>input {
	padding: 5px;
	width: 80%;
	color: #338894;
}


@media (max-width: 768px) {
	.register-content {
		width:600px;
	}
	header {
		height: 80px;
	}

	header .logo {
		text-align: center;
	}

}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}
@media (min-width: @screen-lg-min) {

}
