
@font-face{ 
	font-family: 'Junction';
	src: url('../fonts/Junction.eot');
	src: url('../fonts/Junction.eot?iefix') format('eot'),
	     url('../fonts/Junction.woff') format('woff'),
	     url('../fonts/Junction.ttf') format('truetype'),
	     url('../fonts/Junction.svg#webfont') format('svg');
}

body {
	font-family: Junction;
	color: #00426b;
    text-shadow:#000 0px 1px 1px;

}




header {

	height: 150px;
	position: relative;
	background-color: #597EAA;
	text-align: center;

}

nav {

	height: 70vh;
    background-color: #597EAA;
    margin-top: 10px;

}

nav a {
	display: block;
	font-size: 1.5em;
    text-decoration: none;
    color: #F7F3F2;
    text-shadow:#222 0px 1px 5px;
}

footer {
	height: 200px;
	background-color: black;
}


.product-row {
	display: flex;
	margin-bottom: 50px;
    background-color: #F7F3F2;
	overflow: scroll;
	padding: 20px;
	

	
}

.logo {
	display: inline-block;
	width: 400px;
	height: 100%;
    font-weight: bold;
    position: absolute;
    left: 0px;

}

.logo img {
	height: 100%;
}

.login {
	display: inline-block;
	width: 350px; 
	height: 100%;
    position: absolute;
    right: 0px;
    border: 1px dashed black;
   
}

.keurmerk {
	width: 150px;
	height: 100%;
	display: inline-block;
	position: absolute;
	right: 350px;
	border: 1px dashed black;
	margin: 0px 10px;
}


.product {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	background-color: black;
	border: 1px solid black;
	flex: none;
}