
@font-face{ 
	font-family: 'Junction';
	src: url('../fonts/Junction.eot');
	src: url('../fonts/Junction.eot?iefix') format('eot'),
	     url('../fonts/Junction.woff') format('woff'),
	     url('../fonts/Junction.ttf') format('truetype'),
	     url('../fonts/Junction.svg#webfont') format('svg');
}

body {
	font-family: Junction;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right{
	text-align: right;
}

.dborder {
	border: 1px dashed black;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

header {
	height: 150px;
	background-color: #597EAA;
	/*background-image: url("../images/blue-bg.jpg");
	background-size: 100% 200%;
	background-position: 0 -150px;
	background-repeat: no-repeat;
    background-origin: content-box;*/
	/*border: 2px solid black;*/
}

header a {
	position: static;
}



.header-mini {
	height: 60px;
	position: fixed;
	top: 0px;
	left: 15px;
	right: 15px;
	z-index: 100;
	border-bottom: 5px solid white;
}

/*.blue {
	background-color: #597EAA;

}
*/

.lightorange {
	background-color: #FFCC78;
}
header img {
    height: 100%;
}


.zoekbalk {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #EEE;
	margin: 5px 0px;
}

nav {
	height: calc(100vh - 45px);
    background-color: #597EAA;
    padding: 10px;
    
}

nav h3 {
	color: #F7F3F2;
	text-shadow:#222 0px 1px 5px;
	text-align: center;
}

nav a {
	display: block;
	font-size: 1em;
    text-decoration: none;
    color: #F7F3F2;
    text-shadow:#222 0px 1px 5px;
}

nav a:hover {
	color: #003160;
	text-decoration: none;
	text-shadow:#222 0px 1px 5px;
}


nav a:active {
	color: white;
	text-decoration: none;
}


footer {
	height: 150px;
	background-color: #597EAA;
	color: white;
    font-size: 10px;
    padding-top: 5px;
    margin-top: 5px;
}

footer h4 {
	text-align: center;
	border-bottom: 1px solid white;
}

.logo, .login, .keurmerk {
	height: 100%;
	/*border: 1px dashed black;*/
}

.keurmerk img{
	height: 90%;
	margin-top: 3%;
	border-radius: 35px;
	box-shadow: 0px 5px 5px #666;
}

.content {
	padding-right: 0px;
	background-color: white
}

.product-box{
	position: relative;
}

.product-box h1{
	font-variant: small-caps;
}

.product-row {
	color: #00426b;
	display: flex;
	margin-bottom: 50px;
	overflow: auto;
	padding-left: 50px;
	padding-right: 50px;
	/*background-color: rgba(255,153,21,0.5);*/
}

.product-row a{
	color: black;
}

.arrow{
	display: flex;
	align-items: center;
	width: 50px;
	height: 100%;
	margin-top: 0px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.arrow img{
	width: 100%;
	height: 20%;
}
.arrow-left {
	display: flex;
	align-items: center;
	width: 50px;
	height: 100%;
	margin-top: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.arrow-left img{
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    width: 100%;
	height: 20%;
}




.product-row::-webkit-scrollbar {
    width: 0.0em;
    height: 0.6em;

}
 
.product-row::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.0);*/
    border-radius: 10px;
}
 
.product-row::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,1);
	/*outline: 1px solid transparent;*/
}

.product {
	width: 300px;
	height: 300px;
	margin-right: 20px;
	flex: 0 0 auto;
	border-radius: 15px;
	padding: 15px;
}


.product-img {
	text-align: center;
	height: 60%;
	border-bottom: 2px solid #597EAA;
}

.product img{
	height: 100%;
}

.l-minute {
	color: rgb(255,153,21);
}

/*.arrow:hover{
	background-color: rgba(255,153,21, 0.9);
	background-color: #DDD;
	border: 0px solid black;
}*/


.l-minute .product-row::-webkit-scrollbar-thumb {
	background-color: rgb(255,153,21);
}

.l-minute .product-img {
	border-bottom: 2px solid rgb(255,153,21);
}

.popular{
	color: rgb(255,0,0);
}

.popular .product-row::-webkit-scrollbar-thumb{
	background-color: rgb(255,0,0);
}

.popular .product-img {
	border-bottom: 2px solid rgb(255,0,0)
}

.recent{
	color: rgb(100,0,130);
}

.recent .product-row::-webkit-scrollbar-thumb{
	background-color: rgb(100,0,130);
}

.recent .product-img {
	border-bottom: 2px solid rgb(100,0,130)
}


.fa-2x {
    height: 1.2em;
    line-height: 0;
}

footer .col-xs-3 {
    float: right;
    text-align: right;
}

footer .col-xs-6 {
    text-align: left;
}


.login-tekst a{
	color: #222;
}

.login .form-group {
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
}

.login button {
	width: 100%;
}

.loginblok  a{
	color:white;
}

.breadcrumb{
	background-color: transparent;
}

.center-box {
	width: 800px;
	margin-left:auto;
	margin-right: auto;
}

@media (max-width: 768px) {
	.register-content {
		width:600px;
	}
	header {
		height: 80px;
	}

	header .logo {
		text-align: center;
	}

	.content {
		padding-left: 0px;
	}

}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}
@media (min-width: @screen-lg-min) {

}
