/* rubriekoverzicht */

.rub-artikel{
	display: block;
	font-family: verdana;
	width: 900px;
	height: 200px;
	position: relative;
	padding: 0px;
	margin: 15px auto;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

}

.rub-artikel:nth-child(odd){
    background: #EEE;
}

.rub-artikel:nth-child(even){
    background: #FAFAFA;
}

.rub-artikel h3{
	font-family: Junction;
}

.box-img{
	height: 200px;
	padding-left: 0px;
	padding-right: 0px;
	display: flex;
	align-items: center;
}

.box-img img{
	max-height: 100%;
	max-width: 100%;

}

.box-text {
	height: 100%;

}

.beschrijving{
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bottom-bar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
}
