/* rubriekoverzicht */

/*.stroke-view{
	text-align: center;

}
*/

.rub-artikel{
	display: inline-block;
	width: 700px;
	height: 200px;
	font-family: verdana;
	border: 1px solid #222;
	margin: 0px 10px;
	margin-top: 30px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    text-align: left;

}

.rub-artikel:nth-child(odd){
    background: #FFF;
}

.rub-artikel:nth-child(even){
    background: #FAFAFA;
}

.rub-artikel h3{
	font-family: Junction;
}

.box-img{
	height: 200px;
	padding: 10px;
	padding-right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-img img{
	max-height: 100%;
	max-width: 100%;


}

.box-text {
	height: 100%;

}

.beschrijving{
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bottom-bar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
}
